.logo{
    
    font-family: 'Piedra', cursive;
    font-size: 35px;

}

li{ 
   
    margin-left: 15px;
    margin-right: 15px;    
    font-size: 25px;

}

.jeans{

    font-size: 25px;
}

.bluemont{

    margin-right: 10px;
}