.slogan{
    font-family: 'Righteous', cursive;
}

.navbar-brand{
    font-family: 'Righteous', cursive;
}

.motherboard{
    margin-top: 10px;
    margin-bottom: 10px;
}

.cpu{
    margin-top: 10px;
    margin-bottom: 10px;
}

.laptop{
    margin-top: 10px;
    margin-bottom: 10px;
}

.row{
    font-family: 'Righteous', cursive;
}

.pc{
    margin-top: 10px;
    margin-bottom: 10px;
}

.miska{
    margin-top: 10px;
    margin-bottom: 10px;
}



.clion{
    margin-top: 10px;
    margin-bottom: 10px;
}

.windows{
    margin-top: 10px;
    margin-bottom: 10px;
}

.keyboard{
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    font-family: 'Righteous', cursive;
    font-size: 35px;
}

.akcija{
    font-family: 'Righteous', cursive;
    color: red;
    text-align: center;
    margin-bottom: 15px;
}

.monitor{
    margin-top: 10px;
    margin-bottom: 10px;
}

.kabli{
    margin-top: 10px;
    margin-bottom: 10px;
}

.napajalnik{
    margin-top: 10px;
    margin-bottom: 10px;
}

.ssd{
    margin-top: 10px;
    margin-bottom: 10px;
}

    

 
